# Application
NODE_ENV=development
PORT=3000

# Database PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=node_ts_template
DB_USER=postgres
DB_PASSWORD=postgres
DB_DIALECT=postgres

# JWT Secret
JWT_SECRET=your_jwt_secret_key_change_in_production